.border-btn-contact {
  border: solid 2px #FFF;
  transition: border-width 0.6s linear;
}

.border-btn-contact:hover { border-width: 4px; }

.border-btn-thanks {
  border: solid 2px #FFF ;
  transition: border-width 0.6s linear;
}

.under { 
   text-decoration: underline; 
   border: 2px solid;
   color: white;
   width: 400px;
}

.social {
   margin-top: 50px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
   display: inline-block;
   margin: 0 10px;
   padding: 0;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }

/*Footer Social*/

.social-2 {
   margin: 35px 0;
   padding: 0;
   font-size: 20px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social-2 li {
   display: inline-block;
   margin: 0 8px;
   padding: 0;
}
.social-2 li a { color: #fff; }
.social-2 li a:hover { color: #11ABB0; }


/*Parallax*/

.parallax-container {
  height: 650px;
}

.navbar-fixed-2 {
    height: 63px;
    z-index: 997;
    position: fixed;
    width: 100%;
    top: 0;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

/*Slide on Text*/
.slide-text{
    display: inline-block;    
    position: relative;
    padding-bottom:10px;  
    font-size: 30px;
}
.slide-text:after{
    content: "";    
    position: absolute;
    background-color: rgb(150,150,150);
    height: 3px;
    width: 0;
    top: 100%;
    left: 0;
    display: inline-block;
    opacity: 0;
    
    -webkit-transition: opacity .4s ease-out, width .4s ease-out  ;
    -moz-transition: opacity .4s ease-out, width .4s ease-out ;
    -o-transition: opacity .4s ease-out, width .4s ease-out ;
    transition: opacity .4s ease-out, width .4s ease-out;
}

.slide-text:hover:after{    
    opacity: 1;
    width: 100%;
}


/*rogress Education*/

.education {
	width:100%;
	margin-top:3%;
	margin-left: 20%;
	margin-bottom: 30px;
}

.education p {
	margin-left:-50%;
	font-size:15px;
	font-weight:600;
} 

span.line {
    height: 5px;
    width: 90px;
    background-color:#F5998E;
    display: block;
    position: absolute;
    top: 28%;
    left: 45%;
}

.process .imgcircle {
	background-color:#98D091;
}
.process span.line {
	background-color:#98D091; 
}

.imgcircle {
	height:75px;
	width:75px;
	border-radius:50%;
	background-color:#F5998E;
	position:relative;
}

.imgcircle img {
	height:30px;
	position:absolute;
	top: 28%;
	left: 30%;
}

.process{
	position:relative;
	width:17%;
	text-align:center;
	float:left;
}


/*Work Experience*/

/*.blue-bg {
  background-color: #4D4545;
  color: #ED8D8D;
  height: 100%;
}
*/

.backdrop {
	background-color: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop {
	filter: alpha(opacity=90);
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}


/* Skill */

/* body {
  font-family: 'Ubuntu', sans-serif;
  width:960px;
}

p{
  color:#525252;
  font-size:12px;
} */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* Pie Chart */

#chartdiv {
  width: 100%;
  height: 500px;
}

/* Work Experience */

#timeline {
  display: flex;
  background-color: #031625;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* portfolio image */
.imageGrid {
  line-height: 0;
}
.imageGrid .tile {
  width:33.33%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  
  color:#fff;
  font-family:"Verdana",sans-serif;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer; 
  cursor: hand;
}

.imageGrid .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.imageGrid .tile:hover:before {
  display: none;
}

.imageGrid .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
  display: none;
}

.imageGrid .tile:hover .textWrapper .content {
  display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
  margin: 0;
}

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .skillbar .tile {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}


